# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# Python cache / virtual envs
.venv/
venv/
ENV/
env/

# OS/System files
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / serverless build cache
.vercel
